body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #1e1e2f;
    color: white;
    text-align: center;
    padding: 30px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #1e1e2f;
}

ul {
    list-style-type: square;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #1e1e2f;
    color: white;
}
